@model GameDetailedVM

@{
    ViewData["Title"] = Model.Title;
}

<p>
    <a asp-action="Index">Back</a>
</p>

<span style="font-size: 275%;">@Model.Title</span>

@if (Model.UserIsPublisher) {
    <span>
        <a asp-action="Edit" asp-route-id=@Model.Id style="margin-left: 20px;">Edit</a>
        <span> | </span>
        <a asp-action="Delete" asp-route-id=@Model.Id>Delete</a>
    </span>
}

<div class="item-dark" style="display: flex; aspect-ratio: 21/9; width: 750px; margin-top: 0.75em;">
    <div style="display: flex; width: 60%; background-color: #141619;">

    </div>
    <div style="padding: 30px; overflow-y: auto; width: 40%;">
        <p style="word-break: break-word; white-space: pre-wrap;">@Html.DisplayFor(m => m.Description)</p>
    </div>
</div>

<br>
@{
    string price, buyBtn;
    if (Model.Price > 0) {
        price = Model.Price.ToString("$0.00");
        buyBtn = "Buy Now";
    } else {
        price = "Free to Play";
        buyBtn = "Add to Library";
    }

    string inLibrary = "";
    if (Model.InUserLibrary) {
        inLibrary = "disabled";
        buyBtn = "In Library";
    }
}
<div style="display: flex; align-items: center; width: fit-content; padding: 6px 6px 6px 0; background-color: #181f2b;">
    <div style="padding: 0 20px">
        @price
    </div>
    @if (Model.Price > 0) {
        <a class="buy-btn @inLibrary" asp-controller="Purchase" asp-action="Checkout" asp-route-gameid=@Model.Id>@buyBtn</a>
    } else {
        <form asp-controller="Purchase" asp-action="AddFree" asp-route-gameid=@Model.Id>
            <button class="buy-btn" @inLibrary type="submit">@buyBtn</button>
        </form>  
    }
</div>

<div style="padding-top: 1.5em;">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.Developer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.Publisher)
        </dd>
    </dl>
</div>

<div>
    <a asp-controller="Reviews" asp-action="Index" asp-route-gameid=@Model.Id>See Reviews</a>
</div>

<style>
    img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .buy-btn {
        margin-left: 2px;
        padding: 4px 12px;
        border-radius: 2px;
        background-color: #2b6a00;
        border: 1px solid #5c5c5c;
        color: white;
        text-decoration: none;
    }
    .buy-btn:not([disabled]):hover {
        background-color: #418f0b;
        color: white;
    }
    .buy-btn:disabled, .buy-btn.disabled {
        background-color: #203e00;
        pointer-events: none;
    }
</style>
