@using Microsoft.AspNetCore.Identity

@inject UserManager<StoreUser> UserManager
@inject SignInManager<StoreUser> SignInManager

@model ReviewListVM

@{
    ViewData["Title"] = "Reviews";
    var gameId = ViewContext.RouteData.Values["gameid"];
}

<p>
    <a asp-controller="Games" asp-action="Details" asp-route-id=@gameId>Back</a>
</p>

<h1>@Model.GameTitle</h1>

@if (SignInManager.IsSignedIn(User)) {
    @if (Model.CurrentUserReview != null) {
        <p>
            You reviewed this game on @Model.CurrentUserReview.TimeCreated.ToString("dd MMMM, yyyy").
            <a href="#">
                View your review
            </a>
        </p>
    } else {
        <p>
            <a asp-action="Create" asp-route-gameid=@gameId>Leave a review</a>
        </p>
    }
}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="thumbs-up" viewBox="0 0 16 16">
        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
    </symbol>
    <symbol id="thumbs-down" viewBox="0 0 16 16">
        <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.38 1.38 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51q.205.03.443.051c.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.9 1.9 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2 2 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.2 3.2 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.8 4.8 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591"/>
    </symbol>
</svg>

<table class="table text-light" style="border-collapse: separate; border-spacing: 0 15px;">
    <thead>
        <tr>
            <th colspan=2>
                <h4>Reviews</h4>
                @if (Model.TotalReviews > 0) {
                    <span>@Math.Round(Model.PercentPositive, 2)% of @Model.TotalReviews reviews are positive.</span>
                } else {
                    <span>No reviews.</span>
                }
                <br />
                <form asp-action="Index" method="get">
                    Filter by:
                    <select asp-for="Filter" asp-items="Model.Filters" name="filter"></select>
                    <input type="submit" value="Go"></input>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reviews!.Items) {
        <tr class="item-dark">
            <td style="width: 20%; border: none; word-break: break-word;">
                @item.User!.UserName
            </td>
            <td style="border: none; word-break: break-word;">
                <div style="font-size: 120%;">
                    @if (item.IsPositive) {
                        <i style="color: #0c0;">
                            <svg role="img" width="1em" height="1em" fill="currentColor"><use xlink:href="#thumbs-up"/></svg>
                            Recommended
                        </i>
                    } else {
                        <i style="color: #a00;">
                            <svg role="img" width="1em" height="1em" fill="currentColor"><use xlink:href="#thumbs-down"/></svg>
                            Not Recommended
                        </i>
                    }
                </div>
                <hr style="margin: 6px auto;" />
                <span style="font-size: 80%; color: #aaa;">
                    POSTED: @item.TimeCreated.ToString("dd/MM/yyyy")
                </span>
                <div style="padding: 8px 0;">
                    @Html.DisplayFor(m => item.Description)
                </div>
            </td>
        </tr>
} 
    </tbody>
</table>

@{
    var prev = Model.Reviews.CanPrev ? "" : "disabled";
    var next = Model.Reviews.CanNext ? "" : "disabled";
}
@if (Model.Reviews.TotalPages > 0) {
    <p>
        <form asp-action="Index" method="get">
            <a asp-action="Index" asp-route-filter=@Model.Filter asp-route-page=@(Model.Reviews.PageNum - 1) class="btn btn-primary @prev">&lt;</a>

            <input name="filter" value=@Model.Filter type="hidden"></input>
            <input asp-for="Page" name="page" type="text" style="width: 35px;"></input>
            of @Model.Reviews.TotalPages
            
            <a asp-action="Index" asp-route-filter=@Model.Filter asp-route-page=@(Model.Reviews.PageNum + 1) class="btn btn-primary @next">></a>
        </form>
    </p>
}

<style>
    svg {
        vertical-align: -0.1em;
    }
</style>
