@model ReviewListVM

@{
    ViewData["Title"] = "Reviews";
    var gameId = ViewContext.RouteData.Values["gameid"];
}

<p>
    <a asp-controller="Games" asp-action="Details" asp-route-id=@gameId>Back</a>
</p>

<h1>@Model.GameTitle</h1>

<p>
    <a asp-action="Create" asp-route-gameid=@gameId>Leave a review</a>
</p>

<table class="table" style="border-collapse: separate; border-spacing: 0 15px;">
    <thead>
        <tr>
            <th colspan=2>
                <h4>Reviews</h4>
                @if (Model.TotalReviews > 0) {
                    <span>@Math.Round(Model.PercentPositive, 2)% of @Model.TotalReviews reviews are positive.</span>
                } else {
                    <span>No reviews.</span>
                }
                <br />
                <form asp-action="Index" method="get">
                    Filter by:
                    <select asp-for="Filter" asp-items="Model.Filters" name="filter"></select>
                    <input type="submit" value="Go"></input>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reviews!.Items) {
        <tr>
            <td style="width: 20%; background-color: #eeeeee; border: none; word-break: break-word;">
                Anonymous User
            </td>
            <td style="background-color: #eeeeee; border: none; word-break: break-word;">
                <div style="font-size: 120%;">
                    @if (item.IsPositive) {
                        <i style="color: #005000;">Recommended</i>
                    } else {
                        <i style="color: #500000;">Not Recommended</i>
                    }
                </div>
                <hr style="margin: 6px auto;" />
                <span style="font-size: 80%; color: #7a7a7a;">
                    POSTED: @item.TimeCreated.ToString("dd/MM/yyyy")
                </span>
                <div style="padding: 8px 0;">
                    @Html.DisplayFor(m => item.Description)
                </div>
            </td>
        </tr>
} 
    </tbody>
</table>

@{
    var prev = Model.Reviews.CanPrev ? "" : "disabled";
    var next = Model.Reviews.CanNext ? "" : "disabled";
}
@if (Model.Reviews.TotalPages > 0) {
    <p>
        <form asp-action="Index" method="get">
            <a asp-action="Index" asp-route-filter=@Model.Filter asp-route-page=@(Model.Reviews.PageNum - 1) class="btn btn-primary @prev">&lt;</a>

            <input name="filter" value=@Model.Filter type="hidden"></input>
            <input asp-for="Page" name="page" type="text" style="width: 35px;"></input>
            of @Model.Reviews.TotalPages
            
            <a asp-action="Index" asp-route-filter=@Model.Filter asp-route-page=@(Model.Reviews.PageNum + 1) class="btn btn-primary @next">></a>
        </form>
    </p>
}
